extends _layout

block vars
	- var pageTitle = "Blog page";
	- var pageClass = "blogpage";
	- var pageActive = "blogpage";

block content

	div.main-wrap
		.blog-head
			.blog-head__inner
				h1.home-top__txt.blog-head__title blog
				.blog-head__description Learn from the top academic experts. Or, skip that, and have them do your project right now.
				.blog-head__btn
					a(href="#").blog-head__btn-i.site-btn-violet Order now

		.blog-posts
			.blog-posts_inner
				.blog-posts__content
					.blog-posts__list
						.blog-posts__item
							h2.blog-posts__title The Best 50 Topics For A Religious Research Paper
							.blog-posts__img
								img(src="./img/blog/post-img.png" alt="img").blog-posts__img-i
							.blog-posts__description Developing the skill of writing dissertation topics in nursing takes practice, time, and patience. Nevertheless, that skill will improve and develop the more you write. With this article, writing an essay topic will become more comfortable than ever as your confidence increases.
							a(href="#").blog-posts__link Continue reading

						.blog-posts__item
							h2.blog-posts__title The Best 50 Topics For A Religious Research Paper
							.blog-posts__img
								img(src="./img/blog/post-img.png" alt="img").blog-posts__img-i
							.blog-posts__description Developing the skill of writing dissertation topics in nursing takes practice, time, and patience. Nevertheless, that skill will improve and develop the more you write. With this article, writing an essay topic will become more comfortable than ever as your confidence increases.
							a(href="#").blog-posts__link Continue reading

						.blog-posts__item
							h2.blog-posts__title The Best 50 Topics For A Religious Research Paper
							.blog-posts__img
								img(src="./img/blog/post-img.png" alt="img").blog-posts__img-i
							.blog-posts__description Developing the skill of writing dissertation topics in nursing takes practice, time, and patience. Nevertheless, that skill will improve and develop the more you write. With this article, writing an essay topic will become more comfortable than ever as your confidence increases.
							a(href="#").blog-posts__link Continue reading

					.blog-posts__other
						a(href="#").blog-posts__other-link Older posts

				.blog-sidebar
					.blog-sidebar__inner
						.blog-sidebar__section
							.blog-sidebar__section-name Recent Posts
							.blog-sidebar__section-list
								.blog-sidebar__section-link 70 Creative Nursing Dissertation Topics and Ideas
								.blog-sidebar__section-link 100 Management Topics You Need In 2020!
								.blog-sidebar__section-link 70 Creative Nursing Dissertation Topics and Ideas
								.blog-sidebar__section-link 70 Creative Nursing Dissertation Topics and Ideas
								.blog-sidebar__section-link 70 Creative Nursing Dissertation Topics and Ideas
						.blog-sidebar__section
							.blog-sidebar__section-name Recent Comments
							.blog-sidebar__section-list
								.blog-sidebar__section-link Ethan Show on The Best Software for Writing Dissertation (Tips Included)
								.blog-sidebar__section-link Clarice Lillard on The Best Software
						.blog-sidebar__section
							.blog-sidebar__section-name Geeks do it better.
							.blog-sidebar__section-list
								.blog-sidebar__section-case
									.blog-sidebar__section-case-row
										.blog-sidebar__section-case-img
											img(src="./img/blog/case1.png").blog-sidebar__section-case-img-i
										.blog-sidebar__section-case-name Money back guarantee
									.blog-sidebar__section-case-row
										.blog-sidebar__section-case-txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								.blog-sidebar__section-case
									.blog-sidebar__section-case-row
										.blog-sidebar__section-case-img
											img(src="./img/blog/case2.png").blog-sidebar__section-case-img-i
										.blog-sidebar__section-case-name Data protection
									.blog-sidebar__section-case-row
										.blog-sidebar__section-case-txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
								.blog-sidebar__section-case
									.blog-sidebar__section-case-row
										.blog-sidebar__section-case-img
											img(src="./img/blog/case3.png").blog-sidebar__section-case-img-i
										.blog-sidebar__section-case-name Free revision
									.blog-sidebar__section-case-row
										.blog-sidebar__section-case-txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure

					.blog-sidebar__bottom
						.blog-sidebar__box
							.blog-sidebar__box-title We are writing geeks
							.blog-sidebar__box-btn
								a(href="").blog-sidebar__box-btn-i View pricing

		.home-view
			.home-view__inner
				.home-view__title Lorem ipsum dolor sit amet,
				.home-view__btn
					a(href="#").home-view__btn-i.site-btn-blue view pricing





