extends _layout

block vars
	- var pageTitle = "Blog post page";
	- var pageClass = "";
	- var pageActive = "blogitempage";

block content

	div.main-wrap
		.rellax(data-rellax-speed="-20")
		.blog-posts.blog-item
			.blog-item__head
				.custom-container.blog-item__head-inner
					a(href="#").blog-item__head-link Back to blog
			.custom-container.blog-item__inner
				.blog-item__content-wrap
					.blog-item__content
						.blog-item__body
							h1.blog-item__title The Best 50 Topics For A Religious Research Paper
							.blog-item__img
								img(src="./img/blog/post-img.jpg" alc="img").blog-item__img-i
							p Developing the skill of writing dissertation topics in nursing takes practice, time, and patience. Nevertheless, that skill will improve and develop the more you write. With this article, writing an essay topic will become more comfortable than ever as your confidence increases.
							h2.blog-item__subtitle Geeks do it better. We are writing geeks, and
							p Ut enim ad
								|
								a(href="№").custom-txt-link minim veniam
								|, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
							.blog-item__quote
								span The problem must define the purpose of your essayIt should be engaging It should act as a hook <br> It should be of the required word count
							h3.blog-item__subtitle-h3 Paraphrasing Format check
							ul.custom-list-ul
								li.custom-item-ul Paraphrasing
								li.custom-item-ul Format check and correction check and correction
								li.custom-item-ul Trimming of excessive content
								li.custom-item-ul Structure enhancement
								li.custom-item-ul Free proofreading check and

						.blog-item__block-btn
							.block-btn
								.block-btn__title Lorem ipsum dolor sit amet
								.block-btn__btn
									a(href="#").site-btn-blue.block-btn__btn-i View pricing

						.blog-item__text-insert 100 Management Topics You Need In 2020!

						.blog-item__form.custom-form
							.custom-form__inner
								form(action="javascript:void(0)")
									.custom-form__title Leave a Reply
									.custom-form__row
										.custom-form__input.custom-form__input--w50
											input(type="text" placeholder="Name")
											span.error-message Error message
										.custom-form__input.custom-form__input--w50
											input(type="email" placeholder="Email").email-field
											span.error-message Error message
									.custom-form__row
										.custom-form__textarea
											textarea(placeholder="Massege")
											span.error-message Error message
									.custom-form__row
										.custom-form__input
											input(type="text" placeholder="Website")
											span.error-message Error message
									.custom-form__btn
										a(href="#").site-btn-blue.custom-form__btn-i Post comment

							.custom-form__success
								.custom-form__success-inner
									img(src='./img/contact/check.svg').custom-form__success-img
									.custom-form__success-title Your message has been sent!
									.custom-form__success-caption We will answer your question shortly.




					.blog-sidebar
						.blog-sidebar__inner
							.blog-sidebar__content
								.blog-sidebar__section
									.blog-sidebar__section-name Recent Posts
									.blog-sidebar__section-list
										a(href="#").blog-sidebar__section-link 70 Creative Nursing Dissertation Topics and Ideas
										a(href="#").blog-sidebar__section-link 100 Management Topics You Need In 2020!
										a(href="#").blog-sidebar__section-link 70 Creative Nursing Dissertation Topics and Ideas
										a(href="#").blog-sidebar__section-link 70 Creative Nursing Dissertation Topics and Ideas
										a(href="#").blog-sidebar__section-link 70 Creative Nursing Dissertation Topics and Ideas
								.blog-sidebar__section
									.blog-sidebar__section-name Recent Comments
									.blog-sidebar__section-list
										a(href="#").blog-sidebar__section-link
											span Ethan Show on
											|  The Best Software for Writing Dissertation (Tips Included)
										a(href="#").blog-sidebar__section-link
											span Clarice Lillard on
											|  The Best Software for Writing Dissertation (Tips Included)
								.blog-sidebar__section
									.blog-sidebar__section-name Geeks do it better.
									.blog-sidebar__section-list
										.blog-sidebar__section-case
											.blog-sidebar__section-case-row
												.blog-sidebar__section-case-img
													img(src="./img/blog/case1.svg").blog-sidebar__section-case-img-i
												.blog-sidebar__section-case-name Money back guarantee
											.blog-sidebar__section-case-row
												.blog-sidebar__section-case-txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
										.blog-sidebar__section-case
											.blog-sidebar__section-case-row
												.blog-sidebar__section-case-img
													img(src="./img/blog/case2.svg").blog-sidebar__section-case-img-i
												.blog-sidebar__section-case-name Data protection
											.blog-sidebar__section-case-row
												.blog-sidebar__section-case-txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
										.blog-sidebar__section-case
											.blog-sidebar__section-case-row
												.blog-sidebar__section-case-img
													img(src="./img/blog/case3.svg").blog-sidebar__section-case-img-i
												.blog-sidebar__section-case-name Free revision
											.blog-sidebar__section-case-row
												.blog-sidebar__section-case-txt Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure

							.blog-sidebar__bottom
								.blog-sidebar__box
									.blog-sidebar__box-title We are writing geeks
									.blog-sidebar__box-btn
										a(href="").site-btn-white.blog-sidebar__box-btn-i View pricing

		.home-view
			.home-view__inner
				.home-view__title Lorem ipsum dolor sit amet,
				.home-view__btn
					a(href="#").home-view__btn-i.site-btn-blue view pricing





