extends _layout

block vars
	- var pageTitle = "Home page";
	- var pageClass = "homepage";

block content

	div.main-wrap
		div.prevpage
			a(href="./index1.html" target="_blank") Home
			a(href="./about.html" target="_blank") about
			a(href="./contact.html" target="_blank") contact
			a(href="./review.html" target="_blank") review
			a(href="./pricing.html" target="_blank") pricing
			a(href="./seo.html" target="_blank") seo
